*{
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit';
}

h1{
    color: #5D3434;
    font-size: 50px;
}

input{
    border: solid 2px #5D3434;
    border-radius: 8px;
}

button{
    background-color: #E8C195;
    color: #ffff;
    border-radius: 8px;
    width: 50%;
}

body{
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #BA8F5D;
    width: 600px;
    min-height: 600px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.input-group{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30px;
    gap: 10px;
    margin-right: 30px;
}

button:hover{
    opacity: 0.8;
}

.task{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    font-size: 30px;
}

.task p{
    word-break: break-all;
    overflow-wrap: break-word;
}

.task img{
    height: 25px;
    width: auto;
    padding: 10px;
}

.task.done p{
    text-decoration: line-through;
}